:root
{
    --dark: #333;
    --blue: rgb(50, 180, 250);
    --animations: 0.3s;
}
::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background: transparent;
}
body
{
    text-decoration: none;
    margin: 0;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: white;
}
.main
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
}
.left
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    height: 100%;
    flex-direction: column;
    background-color: var(--blue);
}
.left div
{
    margin-left: 15%;
    margin-right: 10%;
}
.left div h1
{
    font-weight: lighter;
    text-align: start;
    font-size: 4vw;
    margin: 0;
    padding: 0;
    margin-bottom: 1vw;
}
.left div h5
{
    color: rgb(230, 230, 230);
    font-weight: lighter;
    text-align: start;
    font-size: 1.4vw;
    margin: 0;
    padding: 0;
}
.left .spacer
{
    height: 5%;
}
.left .zero
{
    margin-left: 15%;
    margin-right: 20%;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
}
.left .first
{
    margin: 0;
    padding: 0;
    width: 40%;
}
.left .second
{
    margin: 0;
    padding: 0;
    width: 50%;
    justify-content: center;
    display: flex;
}
#login_btn
{
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-left: 5%;
    font-size: 1.2vw;
    color: white;
    border: 0.2vw solid white;
    border-radius: 2vw;
    background-color: transparent;
    transition: var(--animations);
}
#login_btn:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
#signup_btn
{
    padding-left: 1.8vw;
    padding-right: 1.8vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    margin-left: 5%;
    font-size: 1.2vw;
    color: var(--blue);
    border: 0.2vw solid white;
    border-radius: 2vw;
    background-color: white;
    transition: var(--animations);
}
#signup_btn:hover
{
    cursor: pointer;
    transform: scale(1.1);
}
.right
{
    width: 50%;
    height: 100%;
}
@media screen and (max-width: 768px)
{
    .left
    {
        width: 100%;
    }
    .right
    {
        width: 0;
    }
    .left div h1
    {
        font-size: 6vh;
        margin-bottom: 2vh;
    }
    .left div h5
    {
        font-size: 2vh;
    }
    .left .first
    {
        width: 0%;
    }
    .left .second
    {
        width: 100%;
    }
    #login_btn
    {
        padding-left: 1.8vh;
        padding-right: 1.8vh;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        font-size: 1.5vh;
        border: 0.2vh solid white;
        border-radius: 2vh;
    }
    #signup_btn
    {
        padding-left: 1.8vh;
        padding-right: 1.8vh;
        padding-top: 0.5vh;
        padding-bottom: 0.5vh;
        font-size: 1.5vh;
        border: 0.2vh solid white;
        border-radius: 2vh;
    }
}