:root
{
    --dark: #333;
    --blue: rgb(50, 180, 250);
    --animations: 0.3s;
}
::-webkit-scrollbar
{
    width: 0;
    height: 0;
    background: transparent;
}
body
{
    text-decoration: none;
    font-size: 1.2vw;
    background-color: var(--blue);
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}
section
{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form
{
    display: flex;
    flex-direction: column;
}
.box
{
    border-top-left-radius: 5vw;
    border-bottom-right-radius: 5vw;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 25vw;
    background-color: white;
}
.box .column_1
{
    margin-top: -1vw;
    display: flex;
    color: var(--dark);
}
.box .column_1 h2
{
    width: 80%;
    text-align: center;
    font-size: 3vw;
    margin: 0;
    padding: 0;
}
#back_btn
{
    padding-right: 0;
    text-align: start;
    transition: var(--animations);
    font-size: 3vw;
    border: none;
    background: none;
    color: var(--dark);
}
#back_btn:hover
{
    transform: scale(1.1);
    cursor: pointer;
    color: rgb(98, 98, 98);
}
.box h3
{
    margin: 0;
    margin-top: 1vw;
    margin-bottom: 0.3vw;
    color: rgb(100, 100, 100);
    text-align: left;
}
.box input
{
    transition: var(--animations);
    border: 0.1vw solid rgb(132, 132, 132);
    font-size: 1.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border-radius: 0.5vw;
}
.box input::placeholder
{
    font-size: 1vw;
    color: rgb(174, 174, 174);
}
.box input:hover
{
    transform: scale(1.01);
}
.box label
{
    align-self: flex-start;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
#signup_btn
{
    padding-top: 0.7vw;
    padding-bottom: 0.7vw;
    font-size: 1.5vw;
    border: none;
    border-radius: 0.5vw;
    color: white;
    background-color: var(--blue);
    transition: var(--animations);
}
#signup_btn:hover
{
    cursor: pointer;
    transform: scale(1.03);
    background-color: rgb(20, 114, 201);
}
.box .label_2
{
    align-self: center;
}
.box .label_2 a
{
    color: var(--blue);
    transition: var(--animations);
}
.box .label_2 a:hover
{
    cursor: pointer;
    transform: scale(1.1);
    font-size: 1.5vw;
    color:rgb(20, 114, 201);
}
.alert
{
    align-self: center;
    background-color: wheat;
    color: red;
    padding: 1vw;
    width: 33vw;
    font-size: 1vw;
    margin-top: 5vw;
    border-radius: 3vw;
    border-top-left-radius: 0;
    font-weight: bold;
}