<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>Todo Web App</title>
        <meta charset="UTF-8">
        <meta name="title" content="Password Reset Todo Web App"/>
        <meta name="description" content="Password Reset Todo Web App"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'styles/login.css' %}"/>
    </head>
    <body>
        <section>
            <div class="box">
                <div class="column_1">
                    <button onclick="location.href='{% url 'base' %}'" id="back_btn">←</button>
                    <h2>New Password</h2>
                </div>
                <form method="post">
                    {% csrf_token %}
                    <h3>Password</h3>
                    <input type="Password" name="password" id="password_input" placeholder="********">
                    <h3>Password</h3>
                    <input type="Password" name="password_2" id="password_input" placeholder="********">
                    <label></label>
                    <button type="submit" id="login_btn">Reset</button>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </section>
    </body>
</html>