<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
    <head>
        <title>{% trans "$Home" %} - Todo Web App</title>
        <meta charset="UTF-8">
        <meta name="title" content="Todo Web App"/>
        <meta name="description" content="Welcome Todo Web App"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'styles/home.css' %}"/>
        <link rel="stylesheet" href="{% static 'styles/all.css' %}" crossorigin="anonymous">
    </head>
    {% with current_page=request.GET.page_by|default:'home' search_by=request.GET.search_by|default:'' sort_by=request.GET.sort_by|default:'id' filter_by=request.GET.filter_by|default:'none' lang_by=request.GET.lang_by|default:'en' %}
    <body>
        <section>
            <div class="nav">
                <a class="menu" onclick="on_menu_click()">☰</a>
                <a><i class="fa fa-user"></i>{{ request.user.email }}</a>
                {% if current_page == "home" %}
                <a class="active">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    {% trans "All Tasks" %}
                </a>
                {% else %}
                <a onclick="page_by.value = 'home';post_form.submit();">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                    {% trans "All Tasks" %}
                </a>
                {% endif %}
                {% if current_page == "favorites" %}
                <a class="active">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    {% trans "Favorites" %}
                </a>
                {% else %}
                <a onclick="page_by.value = 'favorites';post_form.submit();">
                    <i class="fa fa-star" aria-hidden="true"></i>
                    {% trans "Favorites" %}
                </a>
                {% endif %}
                {% if current_page == "deleted" %}
                <a class="active">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    {% trans "Delete" %}
                </a>
                {% else %}
                <a onclick="page_by.value = 'deleted';post_form.submit();">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    {% trans "Deleted" %}
                </a>
                {% endif %}
                <a onclick="location.href='{% url 'logout' %}';">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    {% trans "Log Out" %}
                </a>
            </div>
            <div class="nav_2">
                <a class="menu">☰</a>
                {% if current_page == "home" %}
                <a class="active">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                </a>
                {% else %}
                <a onclick="page_by.value = 'home';post_form.submit();">
                    <i class="fa fa-tasks" aria-hidden="true"></i>
                </a>
                {% endif %}
                {% if current_page == "favorites" %}
                <a class="active">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </a>
                {% else %}
                <a onclick="page_by.value = 'favorites';post_form.submit();">
                    <i class="fa fa-star" aria-hidden="true"></i>
                </a>
                {% endif %}
                {% if current_page == "deleted" %}
                <a class="active">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                {% else %}
                <a onclick="page_by.value = 'deleted';post_form.submit();">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </a>
                {% endif %}
                <a onclick="location.href='{% url 'logout' %}';">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </div>
            <div class="main">
                <div class="header">
                    <div class="text">
                        {% if current_page == "favorites" %}
                        <h1 id="counter">{% trans "Favorite Tasks" %} - {{ all_items_length }}/{{ item_list|length }}</h1>
                        {% elif current_page == "deleted" %}
                        <h1 id="counter">{% trans "Deleted Tasks" %} - {{ all_items_length }}/{{ item_list|length }}</h1>
                        {% else %}
                        <h1 id="counter">{% trans "All Tasks" %} - {{ all_items_length }}/{{ item_list|length }}</h1>
                        {% endif %}
                        <h5 id="today">{% trans "Day Month Weekday" %}</h5>
                    </div>
                    <div class="search_bar">
                        <div class="lang dropdown">
                            <i class="fa-solid fa-language"></i>
                            <div class="lang_options dropdown-content">
                                {% if lang_by == "en" %}
                                <a class="green" onclick="lang_by.value = 'en';post_form.submit();">English</a>
                                {% else %}
                                <a onclick="lang_by.value = 'en';post_form.submit();">English</a>
                                {% endif %}
                                {% if lang_by == "ru" %}
                                <a class="green" onclick="lang_by.value = 'ru';post_form.submit();">Русский</a>
                                {% else %}
                                <a onclick="lang_by.value = 'ru';post_form.submit();">Русский</a>
                                {% endif %}
                                {% if lang_by == "tr" %}
                                <a class="green" onclick="lang_by.value = 'tr';post_form.submit();">Türkçe</a>
                                {% else %}
                                <a onclick="lang_by.value = 'tr';post_form.submit();">Türkçe</a>
                                {% endif %}
                                {% if lang_by == "tk" %}
                                <a class="green" onclick="lang_by.value = 'tk';post_form.submit();">Türkmençe</a>
                                {% else %}
                                <a onclick="lang_by.value = 'tk';post_form.submit();">Türkmençe</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="sort dropdown">
                            <i class="fa-solid fa-arrow-down-wide-short"></i>
                            <div class="sort_options dropdown-content" id="sort_options">
                                {% if sort_by == "id" %}
                                <a class="green" onclick="sort_by.value = '-id';post_form.submit();">{% trans "Id" %} ⬇</a>
                                {% elif sort_by == "-id" %}
                                <a class="green" onclick="sort_by.value = 'id';post_form.submit();">{% trans "Id" %} ⬆</a>
                                {% else %}
                                <a onclick="sort_by.value = 'id';post_form.submit();">{% trans "Id" %} ⬇</a>
                                {% endif %}
                                {% if sort_by == "title" %}
                                <a class="green" onclick="sort_by.value = '-title';post_form.submit();">{% trans "Alphabetical" %} ⬇</a>
                                {% elif sort_by == "-title" %}
                                <a class="green" onclick="sort_by.value = 'title';post_form.submit();">{% trans "Alphabetical" %} ⬆</a>
                                {% else %}
                                <a onclick="sort_by.value = 'title';post_form.submit();">{% trans "Alphabetical" %} ⬇</a>
                                {% endif %}
                                {% if sort_by == "target_date_time" %}
                                <a class="green" onclick="sort_by.value = '-target_date_time';post_form.submit();">{% trans "Target Date" %} ⬇</a>
                                {% elif sort_by == "-target_date_time" %}
                                <a class="green" onclick="sort_by.value = 'target_date_time';post_form.submit();">{% trans "Target Date" %} ⬆</a>
                                {% else %}
                                <a onclick="sort_by.value = 'target_date_time';post_form.submit();">{% trans "Target Date" %} ⬇</a>
                                {% endif %}
                            </div>
                        </div>
                        <div class="filter dropdown">
                            <i class="fa-solid fa-filter"></i>
                            <div class="filter_options dropdown-content" id="filter_options">
                                {% if filter_by == "none" %}
                                <a class="green" onclick="filter_by.value = 'none';post_form.submit();">{% trans "$None" %}</a>
                                {% else %}
                                <a onclick="filter_by.value = 'none';post_form.submit();">{% trans "$None" %}</a>
                                {% endif %}
                                {% if filter_by == "favorites" %}
                                <a class="green" onclick="filter_by.value = '-favorites';post_form.submit();">{% trans "Favorites" %}</a>
                                {% elif filter_by == "-favorites" %}
                                <a class="green" onclick="filter_by.value = 'favorites';post_form.submit();">{% trans "Unfavorites" %}</a>
                                {% else %}
                                <a onclick="filter_by.value = 'favorites';post_form.submit();">{% trans "Favorites" %}</a>
                                {% endif %}
                                {% if filter_by == "completed" %}
                                <a class="green" onclick="filter_by.value = '-completed';post_form.submit();">{% trans "Completed" %}</a>
                                {% elif filter_by == "-completed" %}
                                <a class="green" onclick="filter_by.value = 'completed';post_form.submit();">{% trans "Inompleted" %}</a>
                                {% else %}
                                <a onclick="filter_by.value = 'completed';post_form.submit();">{% trans "Completed" %}</a>
                                {% endif %}
                            </div>
                        </div>
                    	<form method='get' id='post_form' class="post_form">
                            <input id="page_by" name="page_by" style="visibility:hidden; position:absolute;" value="{{ current_page }}">
                            <input id="search_by" name='search_by' onchange='post_form.submit();' placeholder="{% trans "$Search" %}" value="{{ search_by }}">
                            <i id="search_i" class="fa fa-search" aria-hidden="true"></i>
                            <input id="sort_by" name="sort_by" style="visibility:hidden; position:absolute;" value="{{ sort_by }}">
                            <input id="filter_by" name="filter_by" style="visibility:hidden; position:absolute;" value="{{ filter_by }}">
                            <input id="lang_by" name="lang_by" style="visibility:hidden; position:absolute;" value="{{ lang_by }}">
                        </form>
                        <form id="delete_form" method="post">{% csrf_token %}</form>
                    </div>
                </div>
                <div class="content">
                    <div class="add" onclick="on_add_click();">
                        <button id='add_btn' onclick="on_add_click();">+</button>
                        <a>{% trans "Add tasks for today" %}</a>
                    </div>
                    {% for item in item_list %}
                    <div class='item' onclick="on_item_click(expand_{{ item.pk }})">
                        <a id="title_{{ item.pk }}" class="title2">{{ item.title }}</a>
                        <div class='item_head'>
                            <!--<a>{{ item.pk }}.</a> -->
                            <!--<a>{{ forloop.counter }}.</a> -->
                            {% if item.is_completed %}
                            <div onclick="location.href='{% url 'complete_item' item.id %}';"><input type="checkbox" class="checkbox" onclick='return false' checked></div>
                            {% else %}
                            <div onclick="location.href='{% url 'complete_item' item.id %}';"><input type="checkbox" class="checkbox" onclick='return false'></div>
                            {% endif %}
                            {% if item.is_favorite %}
                            <span class="fa fa-star checked" onclick="location.href='{% url 'favorite_item' item.id %}';"></span>
                            {% else %}
                            <span class='fa fa-star' onclick="location.href='{% url 'favorite_item' item.id %}';"></span>
                            {% endif %}
                            <a id="title_{{ item.pk }}" class="title">{{ item.title }}</a>
                            <a class="created">{{ item.target_date_time|date:"d M" }}</a>
                            <div class="item-options dropdown">
                                <i class="fa fa-edit"></i>
                                <div class="options dropdown-content">
                                    {% if current_page == "deleted" %}
                                    <a class="recover" onclick="location.href='{% url 'recover_item' item.id %}';">{% trans "Recover Task" %}</a>
                                    <a class="delete" onclick="delete_form.action = '{% url 'delete_item' item.pk %}'; delete_form.submit();">{% trans "Delete Permanently" %}</a>
                                    {% else %}
                                    <a onclick="on_edit_click({{ item.pk }}, '{{item.target_date_time|date:'Y-m-d'}}T{{item.target_date_time|time:'H:i'}}', '{% url 'edit_item' item.pk %}');">{% trans "Edit Task" %}</a>
                                        {% if item.is_favorite %}
                                    <a onclick="location.href='{% url 'favorite_item' item.id %}';">{% trans "Mark as Unfavorite" %}</a>
                                        {% else %}
                                    <a onclick="location.href='{% url 'favorite_item' item.id %}';">{% trans "Mark as Favorite" %}</a>
                                        {% endif %}
                                        {% if item.is_completed %}
                                    <a onclick="location.href='{% url 'complete_item' item.id %}';">{% trans "Mark as Incomplete" %}</a>
                                        {% else %}
                                    <a onclick="location.href='{% url 'complete_item' item.id %}';">{% trans "Mark as Complete" %}</a>
                                        {% endif %}
                                    <a class="delete" onclick="location.href='{% url 'recover_item' item.id %}';">{% trans "Delete Task" %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div id="expand_{{ item.pk }}" class="item_expand">
                            <div class="description">
                                <label class="label" for="expand_{{ item.pk }}">{% trans 'DESCRIPTION:' %}</label>
                                <textarea class="area" id="content_{{ item.pk }}" disabled>{{ item.content }}</textarea>
                            </div>
                            <div>
                                <label class="label" for="expand_{{ item.pk }}">{% trans 'TARGET DATE TIME:' %}</label>
                                <a class="date">{{ item.target_date_time }}</a>
                            </div>
                            <div>
                                <label class="label" for="expand_{{ item.pk }}">{% trans 'CREATED DATE TIME:' %}</label>
                                <a class="date">{{ item.created_date_time }}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <div class="spacer"><pre></pre></div>
                </div>
                <div class="paginator">
                    <div class="iterator" onclick="location.href='{{ query_string }}1';">
                        <i class="fa-solid fa-angle-left"></i>
                        <h4>{% trans "First" %}</h4>
                    </div>
                    {% if page_obj.has_previous %}
                    <a onclick="location.href='{{ query_string }}{{ page_obj.previous_page_number }}'">{{ page_obj.previous_page_number }}</a>
                    {% endif %}
                    <a class="current">{{ page_obj.number }}</a>
                    {% if page_obj.has_next %}
                    <a onclick="location.href='{{ query_string }}{{ page_obj.next_page_number }}'">{{ page_obj.next_page_number }}</a>
                    {% endif %}
                    <div class="iterator" onclick="location.href='{{ query_string }}{{ page_obj.paginator.num_pages }}';">
                        <h4>{% trans "Last" %}</h4>
                        <i class="fa-solid fa-angle-right"></i>
                    </div>
                </div>
                <div class="nav_3">
                    {% if current_page == "home" %}
                    <a class="active">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                    </a>
                    {% else %}
                    <a onclick="page_by.value = 'home';post_form.submit();">
                        <i class="fa fa-tasks" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    {% if current_page == "favorites" %}
                    <a class="active">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </a>
                    {% else %}
                    <a onclick="page_by.value = 'favorites';post_form.submit();">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    {% if current_page == "deleted" %}
                    <a class="active">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    {% else %}
                    <a onclick="page_by.value = 'deleted';post_form.submit();">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    <a onclick="location.href='{% url 'logout' %}';">
                        <i class="fa fa-sign-out" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </section>
        <section id="add_section" class='add_section'>
            <div id="add_box" class="add_box">
                <div class="add_header">
                    <label for="add-box">{% trans 'New Task' %}</label>
                    <button class="close_btn" onclick="on_close_click();"><i class="fa fa-close"></i></button>
                </div>
                <form id='add_form' action="{% url 'create_item' %}" class="add_form" method='post'>
                    {% csrf_token %}
                    <div class="field">
                        <label for="add">{% trans 'Title:' %}</label>
                        <input name='title' maxlength='50' placeholder="{% trans 'Required' %}">
                    </div>
                    <div class="field">
                        <label for="add">{% trans 'Description:' %}</label>
                        <textarea name='content' maxlength='255' rows='10' style="resize:none;" placeholder="{% trans 'Optional' %}"></textarea>
                    </div>
                    <div class="field">
                        <label for="add">{% trans 'Target date time:' %}</label>
                        <input id="target_date_time" name='target_date_time' type="datetime-local">
                    </div>
                    <div class="field submit">
                        <input type="submit" value="{% trans 'Create Task' %}">
                    </div>
                </form>
            </div>
        </section>
        <section id="edit_section" class='add_section'>
            <div id="add_box" class="add_box">
                <div class="add_header">
                    <label for="add-box">{% trans 'Edit Task' %}</label>
                    <button class="close_btn" onclick="on_close_click();"><i class="fa fa-close"></i></button>
                </div>
                <form id='edit_form' action="" class="add_form" method='post'>
                    {% csrf_token %}
                    <div class="field">
                        <label for="add">{% trans 'Title:' %}</label>
                        <input id="edit_title" name='title' maxlength='50'>
                    </div>
                    <div class="field">
                        <label for="add">{% trans 'Description:' %}</label>
                        <textarea id="edit_content" name='content' maxlength='255' rows='10' style="resize:none;"></textarea>
                    </div>
                    <div class="field">
                        <label for="add">{% trans 'Target date time:' %}</label>
                        <input id="edit_target_date_time" name='target_date_time' type="datetime-local">
                    </div>
                    <div class="field submit">
                        <input type="submit" value="{% trans 'Save Task' %}">
                    </div>
                </form>
            </div>
        </section>
        <script src="{% static 'scripts/home.js' %}"></script>
    </body>
    {% endwith %}
</HTML>