/* VARIABLES */
:root
{
    /* COLORS */
    --bg: white;
    --main: transparent;
    --nav: white;
    --header: white;
    --primary: rgb(50, 50, 50);
    --secondary: rgb(253, 40, 40);
    --text: rgb(70, 70, 70);
    --nav_a: rgb(70, 70, 70);
    --nav_icon: rgb(100, 100, 100);
    --nav_active: rgb(230,230,230);
    --nav_active_color: black;
    --dropdown_bg: #f9f9f9;
    --dropdown_hover: #ddd;
    --dropdown_a: var(--text);
    --dropdown_a_2: black;
    --add_form: whitesmoke;
    --expand: white;
    --hover: rgb(230,230,230);
    --hover_2: #555;
    --button: var(--text);
    --star: rgb(255, 196, 0);
    --border_color: rgb(210, 210, 210);
    --whiter: rgba(245, 245, 245, 0.6);
    --blue: rgb(71, 159, 235);
    --green: rgba(0, 255, 106, 0.32);
    --red: rgb(253, 40, 40);
    /* SCALES */
    --nav_width: 70px;
    --nav_width_min: 70px;
    --nav_width_max: 350px;
    --nav_pad: 20px;
    --head_pad: 20px;
    --head_pad_2: 17px;
    --dropdown_width: 160px;
    --search_height: 34px;
    --search_width: 300px;
    --item_height: 40px;
    --border: 1px;
    --radius: 3px;
    /* FONTS */
    --nav_font: 30px;
    --nav_font_2: 35px;
    --nav_font_a: 0;
    --nav_font_a_min: 0px;
    --nav_font_a_max: 15px;
    --head_font: 25px;
    --head_font_2: 15px;
    --button_font: 25px;
    --dropdown_font: 15px;
    --expand_font: 20px;
    /* OTHERS */
    --scaling: 1.05;
    --scaling_2: 1.01;
    --animations: 0.3s;
    --animations_2: 0.1s;
    --dropdown_shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    --expand_shadow: 0px 1px 3px 0px rgba(0,0,0,0.2);
    --dropdown_padding: 12px 16px;
    --expand_margin: 20px;
}
/* DEFAULTS */
::-webkit-scrollbar 
{
    width: 0;
    height: 0;
    background: transparent;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button 
{
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] 
{
    -moz-appearance: textfield;
}
::selection
{
	background-color: transparent;
    color: rgba(0, 0, 0, 0.5);
}
*:focus 
{
    outline: none;
}
/* BODY */
html, body
{
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
    background-color: var(--bg);
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
section
{
    display: flex;
    height: 100%;
    width: 100%;
}
.nav, .nav_2, .nav_3
{
    top: 0; /* required */
    position: -webkit-sticky;
    position: sticky;
    z-index: 3;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--nav_width);
    transition: var(--animations);
    background-color: var(--nav);
    border-right: var(--border) solid rgb(210, 210, 210);
    box-shadow: var(--expand_shadow);
}
.nav_2, .nav_3
{
    visibility: hidden;
    opacity: 0;
    width: 0;
}
.nav_3
{
    height: 0;
    flex-direction: row;
}
.nav .menu, .nav_2 .menu
{
    display: flex;
    justify-content: center;
    font-size: var(--nav_font);
    padding: 0;
    margin: 15px;
    margin-bottom: 25px;
    width: 40px;
    border-bottom: none;
}
.nav a, .nav_2 a, .nav_3 a
{
    display: flex;
    align-items: center;
    cursor: pointer;
    color: var(--nav_a);
    font-size: var(--nav_font_a);
    text-decoration: none;
    padding-left: var(--nav_pad);
    padding-top: var(--nav_pad);
    padding-bottom: var(--nav_pad);
    transition: var(--animations);
    border-bottom: var(--border) solid var(--border_color);
}
.nav a:hover, .nav_2 a:hover, .nav_3 a:hover
{
    background-color: var(--nav_active);
}
.nav a i, .nav_2 a i, .nav_3 a i
{
    color: var(--nav_icon);
    font-size: var(--nav_font);
    margin-right: var(--nav_pad);
}
.active
{
    background-color: var(--nav_active);
    color: var(--nav_active_color);
}
.nav .spacer:hover
{
    cursor: auto;
    background-color: transparent;
}
/* MAIN */
.main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.header
{
    display: flex;
    justify-content: space-between;
    padding: var(--head_pad);
    padding-bottom: var(--head_pad_2);
    background-color: var(--header);
    border-bottom: var(--border) solid var(--border_color);
    box-shadow: var(--expand_shadow);
    transition: var(--animations);
}
.green
{
    background-color: var(--green);
}
.text h1, .text h5
{
    color: var(--text);
    padding: 0;
    margin: 0;
    font-size: var(--head_font);
}
.text h5
{
    font-size: var(--head_font_2);
}
.lang, .sort, .filter
{
    background-color: white;
    padding: 5px;
    text-align: center;
    font-size: var(--button_font);
    color: var(--button);
    border-radius: var(--radius);
    border: var(--border) solid black;
}
.lang:hover .dropdown-content , .sort:hover .dropdown-content , .filter:hover .dropdown-content 
{
    margin-top: 7px;
}
.dropdown 
{
    cursor: pointer;
    float: left;
    overflow: hidden;
}
.dropdown-content 
{
    margin-left: -5px;
    cursor: pointer;
    display: none;
    position: absolute;
    background-color: var(--dropdown_bg);
    min-width: var(--dropdown_width);
    box-shadow: var(--dropdown_shadow);
    z-index: 2;
    border-radius: var(--radius);
}
.dropdown-content a 
{
    float: none;
    cursor: pointer;
    color: var(--dropdown_a);
    padding: var(--dropdown_padding);
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: var(--dropdown_font);
    border: var(--border) solid var(--border_color);
}
.dropdown-content a:hover 
{
    background-color: var(--dropdown_hover);
}
.dropdown:hover .dropdown-content
{
    display: block;
}
.dropdown:hover i
{
    color: var(--blue);
}
.search_bar
{
    transition: var(--animations);
    display: flex;
    position: relative;
    align-items: center;
}
.search_bar .dropdown, .search_bar input
{
    margin-left: 20px;
}
.search_bar #search_i
{
    color: var(--text);
    position: absolute;
    font-size: 20px;
    right: 10px;
    top: 13px;
}
.search_bar input
{
    font-size: 20px;
    height: var(--search_height);
    width: var(--search_width);
}
.search_bar input::placeholder
{
    font-size: 20px;
}
.search_bar #picker
{
    height: 37px;
    width: auto;
}
.content
{
    display: flex;
    height: 100%;
    flex-direction: column;   
    margin: 20px;
    overflow-y: auto;
}
.add
{
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 1;
    top: 0px; /* required */
    position: -webkit-sticky;
    position: sticky;
    border: 2px solid var(--blue);
    border-radius: 10px;
    font-size: 20px;
    padding: 5px;
    color: var(--blue);
    height: var(--item_height);
    background-color: white;
    transition: var(--animations_2);
}
.add:hover
{
    background-color: aliceblue;
}
#add_btn
{
    cursor: pointer;
    align-self: center;
    font-size: 30px;
    margin-right: 20px;
    border: 2px solid whitesmoke;
    border-radius: 10px;
    background-color: aliceblue;
    color: white;
    width: 35px;
    height: 35px;
    background-color: var(--blue);
    text-align: center;
    padding: 0;
}
.item
{
    background-color: var(--whiter);
    cursor: pointer;
    display: flex;
    position: relative;
    flex-direction: column;
    margin-top: 20px;
    transition: var(--animations_2);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 2px solid var(--text);
    color: var(--text);
}
.item:hover
{
    cursor: pointer;
    background-color: var(--hover);
}
.title2
{
    visibility: hidden;
    opacity: 0;
    transition: var(--animations);
    margin-left: 5px;
    height: 0;
}
.item_expand
{
    display: flex;
    flex-direction: column;
    opacity: 0;
    height: 0;
    font-size: 0;
    margin: 0;
    visibility: hidden;
    transition: var(--animations);
    border-radius: var(--radius);
    background-color: var(--expand);
    box-shadow: var(--expand_shadow);
}
.item_expand div
{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid var(--hover);
}
.item_expand .description
{
    flex-direction: column;
    color: var(--text);
}
.item_expand textarea
{
    border: none;
    cursor: default;
    resize: none;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    background-color: transparent;
}
.item_head
{
    display: flex;
    align-items: center;
    position: relative;
    height: var(--item_height);
}
.item_head .checkbox
{
    cursor: pointer;
    height: 30px;
    width: 30px;
    margin: 0 0 0 10px;
    padding: 0;
    transition: var(--animations_2);
}
.item_head .checkbox:hover, .item span:hover
{
    transform: scale(1.2);
}
.item_head span
{
    cursor: pointer;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
    transition: var(--animations_2);
}
.item_head .title
{
    text-align: center;
    text-decoration: none;
    padding: 10px;
    padding-right: 15px;
    font-size: 22px;
    word-wrap: break-word;
    text-align: left;
}
.item_head .created
{
    position: absolute;
    right: 10px;
}
.fa 
{
    color: rgb(210, 210, 210);
}
.checked 
{
    color: var(--star);
}
.item-options .delete
{
    padding: var(--dropdown_padding);
    color: red;
    font-size: 20px;
}
.item-options i
{
    font-size: 23px;
    color: var(--text);
}
.options a
{
    color: var(--text);
    font-size: 20px;
}
.paginator
{
    box-shadow: var(--expand_shadow);
    display: flex;
    margin: -20px 20px 10px 20px;
    border-bottom: 2px solid var(--text);
    height: 50px;
    color: var(--text);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-radius: 10px;
    border: 2px solid #333;
    background-color: aliceblue;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    transition: var(--animations_2);
}
.paginator .iterator
{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: var(--animations_2);
    margin-right: 10px;
    margin-right: 10px;
}
.paginator .iterator:hover
{
    cursor: pointer;
    transform: scale(var(--scaling));
}
.paginator .iterator h4
{
    text-align: center;
    font-size: 20px;
}
.paginator a
{
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    width: 30px;
    transition: var(--animations_2);
}
.paginator a:hover
{
    transform: scale(var(--scaling));
}
.current
{
    border-radius: 5px;
    color: white;
    background-color: var(--blue);
}
.paginator *
{
    margin: 0 0 0 20px;
}
.disabled:hover
{
    background-color: transparent;
    cursor: auto;
}
.add_section
{
    cursor: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    background-color: rgba(0,0,0,0.5);
    transition: var(--animations);
}
.add_box
{
    display: flex;
    flex-direction: column;
    padding: 30px;
    width: 600px;
    background-color: var(--add_form);
    border-radius: 10px;
    box-shadow: var(--dropdown_shadow);
}
.add_header
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 30px;
    color: var(--text);
}
.close_btn
{
    border-radius: 4px;
    border: 1px solid var(--hover);
    background-color: var(--red);
    position: absolute;
    cursor: pointer;
    right: 0;
    width: 30px;
    height: 25px;
    transition: var(--animations_2);
}
.close_btn:hover
{
    transform: scale(var(--scaling));
}
.close_btn i
{
    color: white;
}
.add_form
{
    display: flex;
    flex-direction: column;
}
.field
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
}
.add_form input
{
    font-size: 17px;
    height: 30px;
}
.add_form textarea
{
    font-size: 15px;
}
.submit input
{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid var(--hover);
    background-color: var(--blue);
    color: white;
    width: auto;
    height: 35px;
    transition: var(--animations_2);
}
.submit:hover
{
    transform: scale(var(--scaling_2));
}
@media screen and (max-width: 1280px)
{
    :root
    {
        /* SCALES */
        --nav_width: 50px;
        --nav_width_min: 50px;
        --nav_width_max: 300px;
        --nav_pad: 20px; 
        --head_pad: 15px;
        --head_pad_2: 17px;
        --search_height: 25px;
        --search_width: 200px;
        --item_height: 30px;
        /* FONTS */
        --nav_font: 17px;
        --nav_font_a_max: 12px;
        --head_font: 20px;
        --head_font_2: 10px;
        --button_font: 15px;
    }
    .nav .menu
    {
        margin: 15px 0 25px 5px;
        height: 30px;
    }
    .search_bar #search_i
    {
        color: var(--text);
        position: absolute;
        font-size: 16px;
        right: 7px;
        top: 8px;
    }
    .search_bar input
    {
        font-size: 13px;
    }
    .search_bar input::placeholder
    {
        font-size: 13px;
    }
    .item_head .checkbox
    {
        height: 20px;
        width: 20px;
    }
    .item_head span
    {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .item_head .title, .item_head .created
    {
        font-size: 18px;
    }
}
@media screen and (max-width: 900px)
{
    .nav
    {
        opacity: 0;
        visibility: hidden;
        width: 0;
    }
    .nav_3
    {
        opacity: 0;
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .nav_2
    {
        opacity: 1;
        visibility: visible;
        width: var(--nav_width_min);
    }
    .nav_2 .menu
    {
        margin-bottom: 30px;
        width: 20px;
        visibility: hidden;
        opacity: 0;
    }
    .add_box
    {
        width: 500px;
    }
    .item_head .title, .item_head .created
    {
        font-size: 20px;
    }
}
@media screen and (max-width: 700px)
{
    .nav
    {
        opacity: 0;
        visibility: hidden;
        width: 0;
    }
    .nav_2
    {
        opacity: 0;
        visibility: hidden;
        width: 0;
    }
    .nav_3
    {
        opacity: 1;
        visibility: visible;
        height: 50px;
        width: auto;
        justify-content: space-between;
        box-shadow: var(--expand_shadow);
        border-top: var(--border);
    }
    .nav_3 a
    {
        justify-content: center;
        width: 100%;
    }
    .header
    {
        flex-direction: column;
    }
    .text
    {
        margin-bottom: 10px;
    }
    .post_form
    {
        margin-left: auto;
    }
    .post_form input
    {
        margin-left: 0;
    }
    .search_bar .dropdown, .search_bar input
    {
        margin: 0;
        margin-right: 5px;
    }
    .dropdown-content
    {
        margin-top: 20px !important;
    }
    .add
    {
        font-size: 15px;
    }
    #add_btn
    {
        font-size: 20px;
        width: 30px;
        height: 30px;
    }
    .item_head .title, .item_head .created
    {
        font-size: 17px;
    }
    .label, .date, .area
    {
        font-size: 12px !important;
    }
    .paginator a
    {
        font-size: 15px;
        width: 20px;
    }
    .paginator .iterator h4
    {
        font-size: 15px;
    }
    .add_box
    {
        width: 300px;
    }
    .add_header
    {
        font-size: 20px;
    }
    .close_btn
    {
        width: 25px;
        height: 20px;
        font-size: 10px;
    }
    .field
    {
        font-size: 15px;
    }
    .add_form input
    {
        font-size: 13px;
    }
    .add_form textarea
    {
        font-size: 13px;
    }
    .submit input
    {
        font-size: 12px;
    }
}
@media screen and (max-width: 450px)
{
    .add_box
    {
        width: 250px;
    }
    .content
    {
        margin: 10px 10px 0 10px;
    }
    .title2
    {
        visibility: visible;
        opacity: 1;
        margin: 5px 10px 5px 10px;
        height: auto;
    }
    .title
    {
        visibility: hidden;
        opacity: 0;
        width: 0;
    }
    .item_head .title2, .item_head .created
    {
        font-size: 15px;
    }
    .item_expand
    {
        margin: 5px !important;
    }
    .paginator
    {
        margin: 0 10px 10px 10px;
    }
    .options a, .delete
    {
        font-size: 15px !important;
    }
    .add_box
    {
        padding: 20px;   
    }
}
@media screen and (max-width: 350px)
{
    #search_by
    {
        width: 150px;
    }
    .add_box
    {
        width: 200px;
    }
    .item_head .title2, .item_head .created
    {
        font-size: 12px;
    }
    .label, .date, .area
    {
        font-size: 10px !important;
    }
    .paginator
    {
        justify-content: space-around;
    }
    .iterator
    {
        margin: 0;
    }
    .paginator a
    {
        font-size: 12px;
        width: 20px;
        margin: 0;
    }
    .paginator .iterator h4
    {
        font-size: 12px;
    }
    .add_box
    {
        padding: 15px;   
    }
}
@media screen and (max-width: 300px)
{
    #search_by
    {
        width: 130px;
    }
    .add_box
    {
        width: 180px;
    }
    .add_box
    {
        padding: 10px;   
    }
}
@media screen and (max-width: 280px)
{
    .dropdown-content
    {
        min-width: 100px;
    }
    .options a, .delete
    {
        font-size: 12px !important;
    }
    #search_by
    {
        width: 100px;
    }
    .add_box
    {
        width: 200px;
    }
}
@media screen and (max-width: 280px)
{
    #search_by
    {
        width: 80px;
    }
    .add_box
    {
        width: 150px;
    }
}